/*(amarelo-claro=#0C96D4)*/
/*(amarelo-escuro=#096A95)*/
/****************** cabecalho ******************/

#theme-header {
  background: url('images/header-bg.jpg') center 0 no-repeat;
}

#header {
  height: 465px;
	padding: 15px 0 0 0;
	color: #fff !important;
  background: url('images/header-border.png') center 0 repeat-x;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#header>div {
	max-width: 1024px;
	margin: 0 auto;
}

.header-content * {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
	background: #00510f;
	border-bottom: 1px solid #ffcc00;
	padding: 5px 10px;
	color: #03316f;
}

#accessibility {
    display: block !important;
    float: left;
    font-family: arial;
    font-size: 10px;
    width: 50%;
}

#accessibility a {
	color: #444; /* #00500f; */
	margin-right: 8px;
}

#accessibility span {
    background: none repeat scroll 0 0 #36BBF3;
    color: #FFFFFF;
    padding: 0 4px;
}
#accessibility a:hover {
  color: #b62221;
}

#votacao {
  float: right;
  display: block;
  width: 260px;
  padding: 20px 40px 0 0;
  line-height: 44px;
}
#votacao span {
  font-family: 'Open Sans Bold';
  color: #000;
  font-size: 40px;
}
#votacao span strong {
  font-weight: normal;
  font-family: 'Open Sans Light';
}
#votacao .bt-votar {
  display: block;
  width: 165px;
  height: 57px;
  margin: 20px 0 0;
  line-height: 57px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Bold';
  font-weight: bold;
  font-size: 18px;
  background: #89ba3f;
}
#votacao .bt-votar:hover {
  background: #b62221;
}

#menu {
  clear: both;
  width: 100%;
  padding: 10px 0 0 0;
}
#menu ul {
  display: block;
  height: 50px;
  margin: 0;
}
#menu li {}
#menu li a {
  float: left;
  display: block;
  width: 21%;
  padding: 15px 0;
  font-family: 'Open Sans Bold';
  font-size: 12px; color: #fff;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}
#menu li:last-child a {
  width: 37%;
}
#menu li .link-sobre { background-color: #0083cb; }
#menu li .link-participacao { background-color: #088ed7; }
#menu li .link-eixos { background-color: #1197e1; }
#menu li .link-sistema { background-color: #1aa2ec; }
#menu li a:hover {
  background-color: #b62221;
}

/* logo */
#logo {
	padding: 0;
	float: left;
	width: 30%;
  margin: -30px 0 0;
}

#logo span {
	display: block;
}

#logo a {
	display: block;
	width: 100%;
	color: #03316f !important;
	margin: 1em 0px;
}

#logo a, #logo #portal-title {
  color: #03316f;
}

#logo #portal-title {
  margin: 30px 0px 46px 0px;
  color: #03316f;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo .luongo {
	font-size: 3em !important;
	line-height: 1.1em;
	margin-bottom: 0.2em;
}

#logo #portal-description {
	font-size: 1.2em;
	text-transform: capitalize;
}

#links {
  float: left;
  padding: 10px 0 0 65px;
}
#links ul {}
#links ul li {}
#links ul li a {
  float: left;
  display: block;
  height: 23px;
  line-height: 23px;
  padding: 5px 15px;
  margin: 0 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-transform: capitalize;
  color: #444;
}
#links ul li a:hover {
  background-color: #fff;
}

/* Site Actions */
#portal-siteactions {
	display: block;
	float: right;
	clear: left;
	border-bottom: 1px dotted #00500f;
	padding-bottom: 2px;
	margin-top: -15px;
	font-size: 10px;
	text-align: center;
}

#portal-siteactions a {
	color: #00500f;
	text-decoration: none;
	padding: 4px 0 4px 10px;
	text-transform: capitalize;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#portal-siteactions a:hover {
	color: #b62221;
}

#portal-siteactions li {
	display: inline;
}

#portal-siteactions li a:hover {
color: #b62221;
}
#portal-siteactions li a {
  padding: 4px 0px;
}

#social-icons {
	float: right;
	clear: right;
	margin: 0px;
}

#social-icons ul {
	display: table-row;
}

#social-icons li {
	display: table-cell;
}

#social-icons li a {
	border: none;
	padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste {
  margin: 0px 15px 0px 0px;
}
/* */

/* Top links */
#theme-header .header-content #link-faq a {
    border-right: 1px solid #00500f;
    padding: 0 10px;
}
#theme-header .header-content #link-contact a {
    padding-left: 10px;
}
#theme-header .header-content #link-contact a:hover,
#theme-header .header-content #link-faq a:hover {
  color: #b62221;
}

#theme-header #sobre {
    line-height: 20px;
	 font-size: 12px;
}
/* */

/* Sobre o brasil */
#sobre {
	clear: both;
	max-width: 100% !important;
	margin: 0;
	padding: 5px 0;
}

#sobre ul {
	max-width: 1024px;
	margin: 0 auto;
	text-align: right;
}

#sobre a {
	color: #FFF; /* #00500f; */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sobre .portalservicos-item a {
	padding: 0 10px;
	border-right: 1px solid #03316f;
}

#sobre .last-item a {
	padding: 0 0 0 10px;
	border-right: none;
}

/* Searchbox */
.LSBox {
	margin: 0;
	padding: 0;
	border: none;
}

input.searchField {
	-moz-appearance: none !important;
}

#portal-searchbox {
	clear: right;
	float: right;
	font-size: 80%;
	margin: 10px 0 15px;
	text-align: right;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	background: #fff;
	padding: 2px;
}

#portal-searchbox .searchField {
	padding: 10px;
	border-right: none;
  border: none;
  width: 160px;
  height: 10px;
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
	padding: 0.3em;
	background: transparent;
	text-indent: -2000px;
	padding: 4px 15px;
	border: none;
}

#content input.searchField {
margin-bottom: 1em;
}

#header input.searchButton {
  background-image: url("images/search-button.gif");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
	z-index: 1;
	margin-top: 0.5%;
}


/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }


/* */

/* Social Buttons */
#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    background-repeat: no-repeat;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#social-icons #sb_face {
  background: url(images/icone-branco-facebook.png) 0 0;
}
#social-icons #sb_face:hover {
  background: url(images/icone-branco-facebook.png) 0 20px;
}

#social-icons #sb_tweet {
  background: url(images/icone-branco-twitter.png) 0 0;
}
#social-icons #sb_tweet:hover {
  background: url(images/icone-branco-twitter.png) 0 20px;
}

#social-icons #sb_youtb {
  background: url(images/icone-branco-youtube.png) 0 0;
}
#social-icons #sb_youtb:hover {
  background: url(images/icone-branco-youtube.png) 0 20px;
}

#social-icons #sb_flickr {
  background: url(images/icone-branco-flickr.png) 0 0;
}
#social-icons #sb_flickr:hover {
  background: url(images/icone-branco-flickr.png) 0 20px;
}

#social-icons span { display: none; }

/* FIM social Buttons */

/****************** FIM cabecalho ******************/

/************* Bar Psocial Style - Menu Horizontal**************/
#user{
  display: none;
  padding: 0px 2em;
  top: -30px;
  font-size: 12px;
  right: 4em;
}

.logged-in #user{
	 top: -40px;
}

#user form {
    display:none;
}

#user .logged-in {
	 visibility: hidden;
	 display: block;
    background:url("images/barra-menu-user-bg.png") repeat-x bottom center #FEFEFE;
    display: block;
    padding: 1em 0;
    text-align: left;
    width: 130px;
 	 border-radius: 10px
}

#user .logged-in:hover {
	 visibility: visible;
}
#user .logged-in a#homepage-link {
	display: block;
	visibility: visible;
}

#user .logged-in span {display: none;}

#user .logged-in a {
    display: block;
    margin-bottom: 10px;
}

#user .logged-in #pending-tasks-count {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 10px;
    visibility: visible;
}

#barra-psocial {
  display: none;
  position: relative;
  height: 40px;
  margin: auto;
  background: url(images/barra-psocial-bg.png) repeat-x;
}

#barra-psocial li {
  float: left;
}

#assets-menu {
    background: #E8E8E8;
    top: 35px;
    left: 80px;
    min-width: 132px;
}

#assets-menu a {
    border: 1px solid #E8E8E8;
}

#categories_menu {
    /*max-width: 960px;*/
	padding: 0 1em;
    margin: auto;
}

#custom-menu {
    /*background: url(images/marca-participacao-social.png) no-repeat center left;*/
    height: 40px;
    padding-left: 5px;
    /*padding-left: 60px;*/
}

#cat_menu li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
    height: 100%;
    text-transform: capitalize;
}

#cat_menu li:hover {
    background-color: #E1E4E4;
}

#cat_menu li a {
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: block;
}
/************* FIM Bar Psocial Style - Menu Horizontal**************/


/******************Footer - Rodapé**********************************/
#footer {
  height: 254px;
  background: url('images/footer-bg.png') center bottom repeat-x;
}

#theme-footer {
  width: 100%;
}

#footer-content {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  text-align: left;
}

#footer-content .institucional {
  height: 115px;
  padding: 40px 0 0 0;
}

#footer-content .institucional .logo-sistema {
  float: left;
  display: block;
  width: 195px;
  height: 33px;
  margin: 0;
  background: url('images/logo-sistema.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .institucional address {
  clear: both;
  width: 220px;
  display: block;
  font-size: 10px;
  font-style: normal;
  color: #282828;
}

#footer-content .institucional .parcerias {
  position: absolute;
  right: 0;
  top: 30px;
  width: 480px;
}

#footer-content .institucional .parcerias span {
  display: block;
  padding: 0 0 0 40px;
  color: #282828;
}
#footer-content .institucional .parcerias ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-content .institucional .parcerias ul li {
  margin: 0;
}

#footer-content .institucional .logo-seplan {
  float: right;
  display: block;
  width: 229px;
  height: 65px;
  margin: 0 50px 0 0;
  background: url('images/logo-seplan.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .institucional .logo-brasil {
  float: right;
  display: block;
  width: 153px;
  height: 49px;
  margin: 10px 0 0;
  background: url('images/logo-brasil.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}


#footer-content .institucional .coordenacao {
  position: absolute;
  right: 500px;
  top: 30px;
  width: 250px;
}

#footer-content .institucional .coordenacao span {
  display: block;
  padding: 0;
  color: #282828;
}

#footer-content .institucional .coordenacao ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-content .institucional .coordenacao ul li {
  margin: 0;
}

#footer-content .institucional .logo-secretaria {
  float: right;
  display: block;
  width: 262px;
  height: 65px;
  margin: 0;
  background: url('images/logo-secretaria.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .institucional .logo-governo {
  float: left;
  display: block;
  width: 121px;
  height: 66px;
  background: url('images/logo-governo.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .links-uteis {
  height: 85px;
  padding: 15px 0 0 0;
}

#footer-content .links-uteis span {
  float: left;
  display: block;
  width: 158px;
  padding: 20px 0 0 0;
}

#footer-content .links-uteis .logo-transparencia {
  float: left;
  display: block;
  width: 199px;
  height: 59px;
  margin: 0;
  background: url('images/logo-transparencia.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .links-uteis .logo-acesso-a-informacao {
  float: left;
  display: block;
  width: 192px;
  height: 62px;
  margin: 0 0 0 95px;
  background: url('images/logo-acesso-a-informacao.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#footer-content .links-uteis .logo-biblioteca {
  float: left;
  display: block;
  width: 135px;
  height: 46px;
  margin: 0 0 0 128px;
  background: url('images/logo-biblioteca.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
