<div id="footer-content">
  <div class="institucional">
    <strong class="logo-sistema">Sistema Estadual de Participação Popular</strong>
    <address>
      Av. Jerônimo de Albuquerque, S/N, 2º Andar, Bloco A, Edifício Clodomir Milet, <br>
      Calhau - São Luís/MA. CEP: 65051-000 <br>
      Horário de atendimento: 13h às 19h
    </address>
    <div class="coordenacao">
      <span>Coordenação Executiva:</span>
      <ul>
        <li><a href="http://www.sedihpop.ma.gov.br/" class="logo-secretaria" target="_blank">Secretaria de Direitos Humanos e Participação Popular</a></li>
      </ul>
    </div>
    <div class="parcerias">
      <span>Parcerias</span>
      <ul>
        <!-- <li><a href="http://www.secretariageral.gov.br/" class="logo-brasil" target="_blank">Secretaria-Geral da Presidência da República</a></li> -->
        <li><a href="http://www.brasil.gov.br/" class="logo-brasil" target="_blank">Governo Federal</a></li>
        <li><a href="http://www.seplan.ma.gov.br/" class="logo-seplan" target="_blank">Secretaria de Estado de Planejamento e Orçamento</a></li>
      </ul>
    </div>
  </div>
  <div class="links-uteis">
    <span>Links úteis:</span>
    <a href="http://www.portaldatransparencia.ma.gov.br/" class="logo-transparencia" target="_blank">Portal da Transparência</a>
    <a href="http://www.acessoainformacao.ma.gov.br/" class="logo-acesso-a-informacao" target="_blank">Portal de Acesso a Informação</a>
    <a href="http://biblioteca.participa.br/" class="logo-biblioteca" target="_blank">Biblioteca Digital da Participação Social</a>
  </div>
</div>

<!-- <script src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script> -->
