<div class="header-content">
  <div role="banner" id="header">
    <div>
      <ul id="accessibility">
        <li>
          <a id="link-conteudo" href="#content" accesskey="1">
            Ir para o conteúdo
            <span>1</span>
          </a>
        </li>
        <li>
          <a id="link-navegacao" href="#barra-psocial" accesskey="2">
            Ir para o menu
            <span>2</span>
          </a>
        </li>
        <li>
          <a id="link-buscar" href="#portal-searchbox" accesskey="3">
            Ir para a busca
            <span>3</span>
          </a>
        </li>
        <li>
          <a id="link-rodape" href="#theme-footer" accesskey="4">
            Ir para o rodapé
            <span>4</span>
          </a>
        </li>
      </ul>
      <ul id="portal-siteactions">
        <li id="siteaction-accessibility">
          <a href="#">Acessibilidade</a>
        </li>
        <li id="siteaction-contraste">
          <a href="#">Alto Contraste</a>
        </li>
        <li id="siteaction-mapadosite">
          <a href="/search">Mapa do Site</a>
        </li>
      </ul>
      <div id="sobre">
        <ul>
	<li id="link-faq">
            <a href="/account/signup">Registre-se</a>
          </li>
          <li id="link-faq">
            <a href="/ajuda/dicionario-da-participacao">Dicionário da Participação</a>
          </li>
          <li id="link-faq">
            <a href="/ajuda/ajuda/duvidas-frequentes">Perguntas frequentes</a>
          </li>
          <li id="link-contact">
            <a href="/contact/portal/new">Contato</a>
          </li>
        </ul>
      </div>
      <div id="logo">
        <a title="Participa Maranhão" href="/">
          <img src="/designs/themes/participama/images/logo-2015.png"  title="Participa Maranhão"/>
        </a>
      </div>
      <div id="links">
        <ul>
          <li><a href="http://participa.ma.gov.br/ajuda/ajuda/principios-da-participacao" class="principios">Princípios do Participa.MA</a></li>
          <li><a href="http://participa.ma.gov.br/ajuda/ajuda/documentos-de-referencia " class="referencias">Documentos de Referência</a></li>
        </ul>
      </div>
      <div role="search" id="portal-searchbox">
        <form action="/search/articles">
          <input type="text" autocomplete="off" name="query" size="18" title="Buscar no Site" placeholder="Buscar no Site" accesskey="3" class="searchField" id="searchGadget">
          <input type="submit" class="searchButton" value="Buscar"></form>
      </div>
      <div id="social-icons">
        <ul>
          <li>
            <a id="sb_flickr" title="Flickr" href="https://www.flickr.com/photos/encantosdomaranhao/"><span>Flickr</span></a>
          </li>
          <li>
            <a id="sb_face" title="Facebook" href="https://www.facebook.com/participama"><span>Facebook</span></a>
          </li>
          <li>
            <a id="sb_youtb" title="Youtube" href="https://www.youtube.com/channel/UCjSWK6SYUVMWbPPLluXkRow"><span>Youtube</span></a>
          </li>
          <li>
            <a id="sb_tweet" title="Twitter" href="https://twitter.com/GovernoMA"><span>Twitter</span></a>
          </li>
        </ul>
      </div>
      <div id="menu">
        <ul>
          <li><a class="link-sobre" href="http://participa.ma.gov.br/ajuda/ajuda/quem-somos">Sobre o Participa.MA</a></li>
          <li><a class="link-participacao" href="http://participa.ma.gov.br/ajuda/ajuda/participacao-popular">Participação Popular</a></li>
          <li><a class="link-eixos" href="http://participa.ma.gov.br/ajuda/ajuda/eixos-de-participacao">Eixos de Participação</a></li>
          <li><a class="link-sistema" href="http://participa.ma.gov.br/ajuda/ajuda/sistema-estadual-de-participacao-popular">Sistema Estadual de Participação Popular</a></li>
        </ul>
      </div>
      <div id="votacao">
        <span class="orcamento">Orçamento Participativo <strong>2016</strong></span>
        
      </div>
    </div>
  </div>
</div>

<div id="barra-psocial">
  <span id="custom-menu">
    <a href="http://biblioteca.participa.br/" target="_blank"><img src="/designs/themes/participa-ma/images/biblioteca_digital.png" title="Biblioteca Digital"></a>
  </span>
  <div id="categories_menu">
    <%= theme_include 'categories' %>
  </div>
  <div id="participa-languages">
    <a href="?lang=pt" class="flag-pt" title="Português"><span>Português</span></a>
    <a href="?lang=en" class="flag-en" title="English"><span>English</span></a>
  </div>
</div>
